# Enabling the rewrite rule

RewriteEngine on

# Do not redirect if
#RewriteCond $1 !^(index\.php|assets|images|js|css|fevicon.png|upload)
#Rewrite Rules

RewriteRule ^api/colleges/?(.*)$ index.php?resourseString=CollegeController?params=$1 [NC]
RewriteRule ^api/courses/?(.*)$ index.php?resourseString=CourseController?params=$1 [NC]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L] [NC]