* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    /*border: 1px solid red;*/
    background-color: tomato;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li {
    /*border: 1px solid green;*/
    /*display: block;*/
}

.style {
    /*border: 1px solid pink;*/
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    transition : all .2s ease-in;
}

.style:hover {
    background-color: white;
    color: tomato;
}